{% extends 'base.html.twig' %}

{% block title %}CMI Test{% endblock %}

{% block body %}
    {# Count comment for post #}
    {% set total = post.comments|length %}

    <div class="w-full px-2 py-16 sm:px-0">
        <h1 id="article_title" class="text-center p-2 text-xlg font-bold">{{ post.title }}</h1>
        <h2 class="text-lg mb-4">Les commentaires reçus <span class="text-[#ee5253]">({{total}})</span> :</h2>

        <div class='flex justify-between flex-wrap my-8'> 
            {% if total %}           
                {% for comment in post.comments %}
                    <div
                        class="relative py-4 w-full"
                    >
                        <div class="bg-gray-100 mb-4">
                            <p class="p-4">{{ comment.content }}</p>
                        </div>
                        <span class="text-sm">Publié le {{ comment.createdAt|date("d/m/Y", "Europe/Paris") }}</span>
                        <a href="{{ path('app_comment', {id: comment.id})}}" class="w-full border-2 p-2 font-bold">Ajouter une réponse</a>
                    </div>

                    {% if comment.answers|length %}
                        {% include 'comment/answers.html.twig' with {'comment': comment} %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <p class="font-bold">0 commentaire</p>
            {% endif %}
        </div>

        <div class="flex flex-wrap">
            <h3 class="w-full text-xl">Laisser un commentaire</h3>
            {# form for publish commentaire #}
            {{ form_start(form_comment) }}
                <div class="border-2">
                    {{ form_widget(form_comment.content, {'attr': {'class': 'w-full'}}) }}
                </div>
                <div class="text-sm w-full">{% if app.user == null %}Vous devez être connecter pour publier votre commentaire{% endif %}</div>
                {{ form_widget(form_comment.publier)}}
            {{ form_end(form_comment) }}
        </div>
    </div>
{% endblock %}
